<table class="ui very compact striped small celled table" *ngIf="canDisplayLiterals()">
	<thead>
		<tr class="center aligned">
			<th class="wide" [ngClass]="{six: canDisplayLanguage(), eight: !canDisplayLanguage()}">@value</th>
			<th class="wide" [ngClass]="{four: canDisplayLanguage(), six: !canDisplayLanguage()}">@type</th>
			<th class="four wide" *ngIf="canDisplayLanguage()">@language</th>
			<th class="one wide" *ngIf="canEdit">Actions</th>
		</tr>
	</thead>
	<tbody>
		<template ngFor let-literal="$implicit" [ngForOf]="literals" let-i="index">
			<tr class="cp-literal top aligned" [ngClass]="{'modified-literal':!!literal.modified}" *ngIf="!!literal.copy && !literal.deleted"
			    [literal]="literal"
			    [canEdit]="canEdit"
			    [canDisplayLanguage]="isLanguagePresent || isEditingLiteral"
			    (onSave)="saveLiteral($event, literal, i)"
			    (onDeleteLiteral)="deleteLiteral($event, i)"
			    (onEditMode)="editModeChanged($event)"></tr>
			<tr class="cp-literal top aligned added-literal" *ngIf="!!literal.added && !literal.deleted"
			    [mode]="modes.EDIT"
			    [literal]="literal"
			    [canEdit]="canEdit"
			    [canDisplayLanguage]="isLanguagePresent || isEditingLiteral"
			    (onSave)="saveNewLiteral($event, literal, i)"
			    (onDeleteNewLiteral)="deleteNewLiteral($event, i)"
			    (onEditMode)="editModeChanged($event)"></tr>
		</template>
	</tbody>
</table>
<div class="ui small message" *ngIf="!canDisplayLiterals()">
	<p>This property doesn't contains literals.</p>
</div>