:host {
	display: block;
}

.segment[data-tab="all-namedFragments"] {
	table {
		tr.added {
			background-color: #D9EEFF;
		}
		tr.modified {
			background-color: #FFFBB4;
		}
		tr, td {
			cursor: pointer;
		}
	}
}

.confirm-deletion {
	.description {
		color: #000000;
	}
}

.tabular.named-fragments.menu {

	.circular.icon.mini.button {
		padding: 6px;
		margin-left: 10px;
	}
}