<div class="ui basic segment tree options">
	<div class="ui top left pointing dropdown mini basic violet button">
		<i class="plus icon"></i>
		<span class="text">New</span>
		<div class="menu">
			<a class="item">
				<i class="file outline icon"></i>
				Child (Document)
			</a>
			<a class="item">
				<i class="selected radio icon"></i>
				Access Point
			</a>
		</div>
	</div>
	<button class="ui mini basic red right aligned icon button" title="Delete role">
		<i class="trash outline icon"></i>
	</button>
</div>
<div class="content tree">
	<ul></ul>
</div>