<div class="ui basic segment menu treeview">
	<button class="ui mini basic icon button" title="View content" (click)="loadNode(selectedURI)">
		<i class="eye icon"></i>
	</button>
	<button class="ui mini basic icon button" title="Add child" (click)="showCreateChildForm()">
		<i class="plus icon"></i>
	</button>
	<button class="ui mini basic icon button" title="Add access point">
		<i class="icons">
			<i class="selected radio icon"></i>
			<i class="corner add icon"></i>
		</i>
	</button>
	<button class="ui mini basic red icon button" title="Delete document" (click)="showDeleteChildForm()">
		<i class="remove icon"></i>
	</button>
</div>

<div class="document treeview">
	<ul>
	</ul>
</div>