<div class="roles list">
	<table class="ui selectable sortable celled small very compact table" *ngIf="roles.length > 0">
		<thead>
			<tr>
				<th *ngFor="let header of headers" class="center aligned" [ngClass]="{
						sorted: sortedColumn === header.value,
						ascending: sortedColumn === header.value && ascending,
						descending: sortedColumn === header.value && ! ascending
					}" (click)="sortColumn( header )">{{ header.name }}
				</th>
				<th class="center aligned">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let role of roles; let i = index;" (click)="openRole($event, role)">
				<td>
					<span>{{role.name}}</span>
					<br>
					<span>{{role.id}}</span>
				</td>
				<td>
					{{role.created | date:"MMM dd, yyyy - hh:mm a"}}
				</td>
				<td>
					{{role.modified | date:"MMM dd, yyyy - hh:mm a"}}
				</td>
				<td class="center aligned">
					<div class="ui small basic icon buttons">
						<a class="ui icon button tooltip" (click)="onClickEditRole($event, role)" title="Edit Role">
							<i class="write icon"></i>
						</a>
						<button class="ui icon button tooltip" (click)="onClickDeleteRole($event, role);" title="Delete Role">
							<i class="trash outline icon"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="4">
					<label>Show: </label>
					<select class="ui dropdown"
					        [ngModel]="rolesPerPage"
					        (ngModelChange)="rolesPerPage = $event; activePage = paginator.activePage; changeRolesPerPage($event);">
						<option class="item" value="5">5</option>
						<option class="item" value="10"
						        *ngIf="totalRoles > 10">10
						</option>
						<option class="item" value="15"
						        *ngIf="totalRoles > 15">15
						</option>
						<option class="item" value="20"
						        *ngIf="totalRoles > 20">20
						</option>
						<option class="item" value="{{totalRoles}}">All</option>
					</select>
					<cp-paginator #paginator
					              [totalElements]="totalRoles"
					              [elementsPerPage]="rolesPerPage"
					              (onPageChange)="changePage($event)"></cp-paginator>
				</th>
			</tr>
		</tfoot>
	</table>
	<div class="ui warning message" *ngIf="roles.length===0 && !errorMessage">
		<i class="attention icon"></i> There are no <strong>Roles</strong> to display
	</div>
	<cp-error-message [message]="errorMessage" *ngIf="!!errorMessage"></cp-error-message>
</div>
<!--Ask for role deletion-->
<!--<cp-role-deleter #roleDeleter [context]="appContext" [role]="deletingRole" (onSuccess)="refreshRoles()"></cp-role-deleter>-->