<div class="ui grid segment">
	<div class="stretched row">
		<cp-roles-tree-view class="six wide column tree"
		                    [appContext]="appContext"
		                    [refreshNode]="onRefreshTree"
		                    (onDoubleClickRole)="resolveRole($event)"
		                    (onSelectRole)="selectedRole=$event"
		                    (onShowCreateRoleForm)="roleCreator.show()"
		                    (onShowDeleteRoleForm)="roleDeleter.show()"></cp-roles-tree-view>
		<div *ngIf="!activeRole"
		     class="ten wide column role details">
			<p>Role Details in here...</p>
		</div>
		<cp-role-details *ngIf="!!activeRole"
		                 class="ten wide column role details"
		                 [role]="activeRole"
		                 [appContext]="appContext">
		</cp-role-details>
		<cp-role-creator #roleCreator
		                 [parentRole]="selectedRole"
		                 [appContext]="appContext"
		                 (onSuccess)="onSuccessCreate($event)"></cp-role-creator>
		<cp-role-deleter #roleDeleter
		                 [role]="selectedRole"
		                 [appContext]="appContext"
		                 (onSuccess)="onSuccessDelete($event)"></cp-role-deleter>
	</div>
</div>