:host {
	display: block;
	padding: 0;
	color: black;

	.grid {
		max-height: 600px;

		.stretched.row {
			border: 1px solid #d3d3d3;
			margin: 1%;
			padding: 0;
		}
		cp-roles-tree-view.tree.column {
			padding: 0;
			border-right: 1px solid #d3d3d3;
		}
		cp-role-details.role.details.column {
			padding: 0;
		}
	}
}