<div class="ui grid segment">
	<div class="stretched row">
		<div class="error messages" *ngIf="messages.length > 0">
			<template ngFor let-message="$implicit" [ngForOf]="messages" let-i="index">
				<cp-error-message [message]="message" [closable]="true"></cp-error-message>
			</template>
		</div>
		<cp-roles-tree-view class="six wide column tree"
		                    [appContext]="appContext"
		                    [refreshNode]="onRefreshTree"
		                    (onDoubleClickRole)="resolveRole($event)"
		                    (onSelectRole)="selectedRole=$event"
		                    (onShowCreateRoleForm)="roleCreator.show()"
		                    (onShowDeleteRoleForm)="roleDeleter.show()"
		                    (onLoading)="loading=$event"
		                    (onError)="handleError($event)"></cp-roles-tree-view>
		<div *ngIf="loading"
		     class="ui ten wide column role details basic segment">
			<div class="ui icon message">
				<i class="notched circle loading icon"></i>
				<div class="content">
					<div class="header">
						Just one second
					</div>
					<p>Please wait while the role is being loaded...</p>
				</div>
			</div>
		</div>
		<cp-role-details *ngIf="!!activeRole && !loading"
		                 class="ten wide column role details"
		                 [role]="activeRole"
		                 [appContext]="appContext">
		</cp-role-details>
		<cp-role-creator #roleCreator
		                 [parentRole]="selectedRole"
		                 [appContext]="appContext"
		                 (onSuccess)="onSuccessCreate($event)"></cp-role-creator>
		<cp-role-deleter #roleDeleter
		                 [role]="selectedRole"
		                 [appContext]="appContext"
		                 (onSuccess)="onSuccessDelete($event)"></cp-role-deleter>
	</div>
</div>