:host {
	.hidden {
		display: none;
	}

	.ui.top.segment.embedded {
		border-top: none;
		padding-top: 1.9%;
		padding-bottom: 1%;
	}

	.ui.bottom.segment.embedded {
		border-bottom: none;
	}

	.ui.secondary.menu.tabs {
		border-left: 0;
		border-right: 0;
	}
}