<div class="ui basic segment" [ngClass]="{loading:loading}">
	<table class="ui selectable sortable celled small very compact table">
		<thead>
			<tr>
				<th class="center aligned">Name</th>
				<th class="center aligned">Created</th>
				<th class="center aligned">Modified</th>
				<th class="center aligned">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let agent of agents; let i = index;">
				<td>
					<span>{{agent.name}}</span>
					<br>
					<span>{{agent.id}}</span>
				</td>
				<td>
					{{agent.created | date:"MMM dd, yyyy - hh:mm a"}}
				</td>
				<td>
					{{agent.modified | date:"MMM dd, yyyy - hh:mm a"}}
				</td>
				<td class="center aligned">
					<div class="ui small basic icon buttons">
						<a class="ui icon button tooltip" (click)="edit($event, agent)" title="Edit Agent">
							<i class="write icon"></i>
						</a>
						<button class="ui icon button tooltip" (click)="avoidRowClick($event)" title="Delete Agent">
							<i class="trash outline icon"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<!--<cp-agent-details [agent]="inspectingAgent" *ngIf="!!inspectingAgent"></cp-agent-details>-->