<div class="ui create role modal">
	<div class="header">
		<h2 class="ui header">
			<i class="file outline icon"></i>
			<span class="content">
				Creating a Role
				<span class="sub header">Create a new role as a child of <strong>{{parentRole}}</strong>.</span>
			</span>
		</h2>
	</div>
	<div class="content">
		<cp-role-details *ngIf="canDisplayCreator"
		                 [mode]="'CREATE'"
		                 [appContext]="appContext"
		                 [embedded]="false"
		                 [parentRole]="parentRole"
		                 (onClose)="hide()"
		                 (onSuccess)="onCreateSuccess($event)"></cp-role-details>
	</div>
</div>