<div class="ui divided grid segment" [ngClass]="{loading:loadingDocument || savingDocument}">

	<div class="row" *ngIf="messages.length > 0">
		<div class="sixteen wide column">
			<template ngFor let-message="$implicit" [ngForOf]="messages" let-i="index">
				<cp-error-message [message]="message"></cp-error-message>
			</template>
		</div>
	</div>
	<div class="stretched row">
		<cp-document-treeview class="five wide column treeview-container"
		                      [documentContext]="documentContext"
		                      (onError)="handleError($event)"
		                      (onLoadingDocument)="onLoadingDocument($event)"
		                      (onResolveUri)="resolveDocument($event)"></cp-document-treeview>
		<cp-document-viewer class="eleven wide column"
		                    [document]="inspectingDocument"
		                    [documentContext]="documentContext"
		                    (onSavingDocument)="showLoading($event)"
		                    (onLoadingDocument)="onLoadingDocument($event)"></cp-document-viewer>
	</div>
</div>