:host {
	display: block;
	padding: 0;

	.saving-message {
		z-index: 1;
	}
	.document-content {
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.success.message {
		position: absolute;
		z-index: 1;
		right: 0;
	}
}

.ui.basic.segment.document-content {
	margin-top: 0;
}

.ui.grid > .row > :host.ui.segment.column {
	padding: 0;
}