<div class="ui basic segment" *ngIf="!document">
	<div class="ui icon message">
		<i class="warning icon"></i>
		<div class="content">
			<div class="header">
				No document selected.
			</div>
			<p>Please, provide a document by selecting one from the three or providing a document to the component.</p>
		</div>
	</div>
</div>
<a class="ui blue top right attached label saving-message"
   *ngIf="documentContentHasChanged" (click)="saveDocument()">
	<i class="save icon"></i>Save changes
</a>
<div class="ui basic segment document-content" *ngIf="document">
	<div class="ui divided items">
		<cp-property class="property item"
		          [documentURI]="rootNode['@id']"
		          [property]="{copy:{id:'@id', name:'@id', value:rootNode['@id']}}">
		</cp-property>
		<div class="item">
			<div class="content">
				<div class="description">
					<div class="ui secondary menu document tabs">
						<a class="item active" data-tab="documentResource">Document</a>
						<a class="item" data-tab="bNodes">Blank Nodes ({{bNodes.length}})</a>
						<a class="item" data-tab="namedFragments">Named Fragments ({{namedFragments.length}})</a>
					</div>
					<div class="ui active tab segment" data-tab="documentResource">
						<cp-document-resource class="column"

						                      [rootNode]="rootNode"
						                      [hiddenProperties]="['@id']"
						                      [bNodes]="bNodes"
						                      [namedFragments]="namedFragments"
						                      [documentURI]="rootNode['@id']"

						                      (onOpenBNode)="openBNode($event)"
						                      (onOpenNamedFragment)="openNamedFragment($event)"
						                      (onChanges)="registerRootNodeChanges($event)">
						</cp-document-resource>
					</div>
					<div class="ui tab segment" data-tab="bNodes">
						<cp-blank-nodes class="column"
						                [documentURI]="document['@id']"
						                [bNodes]="bNodes"
						                [namedFragments]="namedFragments"

						                (onOpenBNode)="goToSection($event)"
						                (onOpenNamedFragment)="openNamedFragment($event)"
						                (onChanges)="registerBNodeChanges($event)"></cp-blank-nodes>
					</div>
					<div class="ui tab segment" data-tab="namedFragments">
						<cp-named-fragments class="column"
						                    [documentURI]="document['@id']"
						                    [bNodes]="bNodes"
						                    [namedFragments]="namedFragments"

						                    (onOpenBNode)="openBNode($event)"
						                    (onOpenNamedFragment)="goToSection($event)"
						                    (onChanges)="registerNamedFragmentsChanges($event)"></cp-named-fragments>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="!!savingErrorMessage">
	<div class="ui error message transition">
		<i class="close icon" (click)="clearSavingError()"></i>
		<div class="header">
			{{savingErrorMessage.title}}
		</div>
		<p>
			<span *ngIf="savingErrorMessage.content">{{savingErrorMessage.content}}<br></span>
			<span *ngIf="savingErrorMessage.statusCode">Status: {{savingErrorMessage.statusCode}} - {{savingErrorMessage.statusMessage}}<br></span>
			<span *ngIf="savingErrorMessage.endpoint">URI: {{savingErrorMessage.endpoint}}</span>
		</p>
		<ol class="ui list" *ngIf="!!savingErrorMessage.errors">
			<li value="*" *ngFor="let error of savingErrorMessage.errors; let i = index;">
				<span *ngIf="!!error['https://carbonldp.com/ns/v1/platform#carbonCode']">Carbon code: {{error["https://carbonldp.com/ns/v1/platform#carbonCode"][0]["@value"]}} -</span>
				<span *ngIf="!!error['https://carbonldp.com/ns/v1/platform#message']">{{error["https://carbonldp.com/ns/v1/platform#message"][0]["@value"]}}</span>
			</li>
		</ol>
	</div>
</div>