:host {
	display: block;
	.ui.segment {
		color: #000000;
	}
	> .ui.divided.grid.segment {
		max-height: 800px;

		> .stretched.row {
			border: 1px solid lightgray;
			margin: 1%;
			padding: 0;

			> .treeview-container {
				padding: 0;
			}
		}
	}
	.createchild.form {
		padding: 0 20%;

		.ui.saving.error.message {
			text-align: left;
		}
	}
}
