<template ngFor let-item [ngForOf]="items">
	<template [ngIf]="item.type === 'link'">
		<a class="item"
		   [routerLink]="item.route">
			<i *ngIf="item.icon" [class]="item.icon"></i>
			{{ item.name }}
		</a>
	</template>
	<template [ngIf]="item.type === 'divider'">
		<div class="ui horizontal inverted divider">
			<i *ngIf="item.icon" [class]="item.icon"></i>
			{{ item.name }}
		</div>
	</template>
	<template [ngIf]="item.type === 'group'">
		<cp-sidebar-items [items]="item.children"></cp-sidebar-items>
	</template>
	<template [ngIf]="item.type === 'submenu'">
		<a class="item submenu">
			<a class="title">
				<i class="right aligned dropdown icon"></i>
				{{item.name}}
			</a>
			<button *ngIf="item.onClose" class="ui right floated circular icon mini inverted button" (click)="item.onClose.emit( item )">
				<i class="icon remove"></i>
			</button>
			<div class="content">
				<cp-sidebar-items [items]="item.children"></cp-sidebar-items>
			</div>
		</a>
	</template>
</template>